.result-fader {
    margin-top: 8%;
    /* background-color: #f7bcd6; */
    background-color: rgba(247,188,214,0.8);
    border: 10px solid purple;
    border-radius: 10px;
    height: 20%;
    display: flex;
    justify-content: center;
}


.allResultsPage {
    margin: 10%;
    padding: 3%;
    height: 50%;
    width: 80%;
    opacity: 1;    
    background-color: #000000;
}

.all-result-container {
    width: 30%;
    height: 70%;
}
.uploadHeaderText {
    color:white;
}

.editForm {
    height: 100%;
    border: 5px solid purple;
    color: aliceblue;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right:5%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-between;
}

.edit-field {
    width: 100%;
    background-color: aquamarine;
}

.hide-this {
    display: none;
}

.record-res {
    margin-top: .2%;
    margin-left: 2%;
    margin-bottom: .2%;
    color: aquamarine;
}
.message {
    color: red;
}

