
.background-fader {
    margin-top: 8%;
    /* background-color: #f7bcd6; */
    background-color: rgba(247,188,214,0.8);
    border: 10px solid purple;
    border-radius: 100px;
    height: 150vh;
    width: 90%;
    display: flex;
    justify-content: center;
}

.uploadResultPage {
    margin-top: 12%;
    height: 75%;
    width: 75%;
    opacity: 1;    
    background-color: #fdf1f6;
}
.uploadHeader {
    margin: 2%;
}

.uploadResultSection {
    margin: 2%;
}
.exampleImg {
    opacity: 1 !important;  
    width: 100%;
    height: 90px;
    border: 1px solid purple;

}

#progressBar {

    width: 0px;
    margin-bottom: 2%;
    height: 20px;
    background-color: green;

}
.text-field {
    height: 30px;
}
.confidenceDiv {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-bottom: 2px solid purple;
}

#checkResults {
    margin-left: 24%;
}
#uploadForm {
    height: 25%;
    border: 5px solid purple;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}
#uploadForm div {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: .5%;
}
.cool-buttons {
    background-color: lightskyblue;
    margin-top: 5%;
    border: 1px solid purple;
    border-radius: 10px;
    margin-left: 5%; 
}